{% extends 'base.html' %}
{% block title %}{{ super() }} - Usuário{% endblock %}
{% block content %}

<div class="container mt-3 mb-3">
        <h2 class="text-center mb-4">Hello {{ current_user.nome }}, welcome to your profile.</h2>
        <div class="textfield">
            <label for="id">ID: {{ current_user.id }}</label>
        </div>
        <div class="textfield">
            <label for="usuario">Usuário: {{ current_user.nome }}</label>
        </div>
        <div class="textfield">
            <label for="email">Email: {{ current_user.email }}</label>
        </div>
        <a href="{{url_for('logout')}}" class="btn btn-primary">Sair</a>
</div>

{% endblock content %}