    {% extends "base.html" %}
    {% block content %}
    <ul>
      {% for i in users %}
      <div class="main-recovery-pages">
        <div class="card mt-4">
            <div class="card-body">
              <h4>Nome: {{i.nome}}</h4>
              <small>Email: {{i.email}}</small><br>
                <a href="/update/{{i.id}}"><button class="btn btn-success mt-4">Editar</button></a>
                <a href="/delete/{{i.id}}"><button class="btn btn-danger mt-4">Excluir</button></a>
            </div>
        </div>
      </div>
      {% endfor %}
    </ul>

    {% endblock %}