{% extends 'base.html' %}
{% block content %}


<div class="main-login-page">
    {% with msg = get_flashed_messages(category_filter=["success"]) %}
        {% if msg %}
            {% for msg in msg %}
            <div class="alert-flash alert alert-success alert-dismissible" data-bs-dismiss="modal" role="alert">
                {{msg}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% with msg = get_flashed_messages(category_filter=["error"]) %}
        {% if msg %}
            {% for msg in msg %}
            <div class="alert-flash alert alert-danger alert-dismissible" data-bs-dismiss="modal" role="alert">
                {{msg}}
                <button type="button" onclick="myAlertTop()" class="close" data-bs-dismiss="alert" aria-label="close">X</button>
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container-login-page container mt-3 mb-3">
        <form class="form-login-page" action="" method="post">
            <h1>Login</h1>
            <div class="form-label-page form-group">
                <label for="email">Usuário:</label>
                <input type="text" class="form-control" name="usuario" placeholder="Usuário" required>
            </div>
            <div class="form-label-page form-group">
                <label for="email">Senha:</label>
                <input type="password" class="form-control" name="senha" placeholder="Senha" required>
            </div>
            <button class="btn btn-success" type="submit">Entrar</button>
        </form>
    </div>
</div>

{% endblock %}